@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Nunito+Sans:wght@300;600;700&display=swap");
$headings: "Montserrat", sans-serif;
$textFont: "Nunito Sans", sans-serif;
$fontSize: 16px;

$white: #ffffff;
$black: #010101;
$turquoise: #11cac4;
$gray: #787878;
$lightGray: #f5f5f5;

$orange: #c47300;

$shadow: #d8d8d8;

$transition: 0.4s ease;

$boxShadow: 0 10px 20px 0px rgba($black, 1);

$py: 100px 0;
$containerWidth: 85%;
